img {	
	display: block;
	height: 100%;
    transform: skew(15deg);    
}

.container {
	width: 910px;
	height: 410px;
	margin: 20px auto;
	padding: 30px 25px;

	background-color: #ffaa00;
	background-image: repeating-linear-gradient(105deg, #DDDB98, #6E6E6E, #DDDB98 30px);
}

.container-animal {
    position: relative;
    width: 910px;
	height: 410px;
    background-color: #ffffff;
    overflow: hidden;
}

.kitty, 
.puppy {
	position: absolute;
	width: 505px;
	height: 410px;
	overflow: hidden;
}

.kitty {
  left: 0;
  transform: skew(-15deg) translateX(-55px);
}

.puppy {
	right: 0;
    transform: skew(-15deg) translateX(53px);
}

.puppy img {
	transform: skew(15deg) translateX(-55px);
}

.text {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 500px;
	min-height: 50px;
	background-color: rgba(255,255,255,0.8);
}

.text span {	
	font-family: Arial, sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: #1F1E1E;
	padding: 10px 40px;
}
