.container {
  position: relative; 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;  
  -webkit-box-pack: center;  
      -ms-flex-pack: center;  
          justify-content: center;  
  -webkit-box-align: center;  
      -ms-flex-align: center;  
          align-items: center;
  width: 400px;
  height: 400px;
  margin: 20px auto;
  background-color: #000;
  overflow: hidden;
}

.color-radio {
  position: relative;
  margin: 25px;
}

.container-color {
  position: absolute;
  display: block;
  width: 1230px;
  height: 400px;
  background-image: -webkit-gradient(linear, left top, right top, from(purple), color-stop(33.33%, purple), color-stop(33.33%, green), color-stop(66.67%, green), color-stop(66.67%, blue), to(blue));
  background-image: -webkit-linear-gradient(left, purple 0%, purple 33.33%, green 33.33%, green 66.67%, blue 66.67%, blue 100%);
  background-image: -o-linear-gradient(left, purple 0%, purple 33.33%, green 33.33%, green 66.67%, blue 66.67%, blue 100%);
  background-image: linear-gradient(to right, purple 0%, purple 33.33%, green 33.33%, green 66.67%, blue 66.67%, blue 100%);
}

.color-radio + label::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -58px;
  width: 48px;
  height: 48px;
  border: 2px solid #fff;
  border-radius: 50%;
  z-index: 1;
}

.container label {
  position: relative;
}

.color-radio:checked + label::after {
  content: "";
  position: absolute;
  top: -19px;
  left: -52px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1;
}

#color-purple:checked ~ .container-color,
#color-green:checked ~ .container-color,
#color-blue:checked ~ .container-color {
  -webkit-transition-duration: 0.6s;
       -o-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

#color-purple:checked ~ .container-color {   
  left: 0;
}

#color-green:checked ~ .container-color {  
  left: -410px;
}

#color-blue:checked ~ .container-color {  
  left: -820px;
}