.container {
	position: relative;	
	width: 542px;
	height: 567px;
	margin: 20px auto;
	background-color: #e3e7ea;
}

.cover {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 300px;
	height: 420px;

	background-image: -webkit-linear-gradient(left, #2f2f2f 3px, #4c4c4c 12px, #2f2f2f 14px, transparent, transparent),
					  -webkit-linear-gradient(left bottom, #222222 20%, #4d4d4d);

	background-image: -o-linear-gradient(left, #2f2f2f 3px, #4c4c4c 12px, #2f2f2f 14px, transparent, transparent),
					  -o-linear-gradient(left bottom, #222222 20%, #4d4d4d);

	background-image: linear-gradient(to right, #2f2f2f 3px, #4c4c4c 12px, #2f2f2f 14px, transparent, transparent),
					  linear-gradient(to right top, #222222 20%, #4d4d4d);
	border-radius: 0 10px 10px 0;
	-webkit-box-shadow: -2px 4px 5px 0 rgba(0,0,0,0.5);
	        box-shadow: -2px 4px 5px 0 rgba(0,0,0,0.5);	 
}

.cover p {
	color: #ffffff;
	font-family: Arial, sans-serif;
	padding: 65px 70px 150px 50px;
	letter-spacing: -0.06em;
}

.cover::after {
	content: '';

	position: absolute;
	top: -3px;
	right: 34px;

	width: 17px;
	height: 424px;
	-webkit-box-shadow: -3px 0 2px 0 rgba(0,0,0,0.5);
	        box-shadow: -3px 0 2px 0 rgba(0,0,0,0.5);
	background-image: -webkit-gradient(linear, left top, right top, from(#a5052b), color-stop(#940029), color-stop(#a5052b), color-stop(#940029), color-stop(#a5052b), to(#940029));
	background-image: -webkit-linear-gradient(left, #a5052b, #940029, #a5052b, #940029, #a5052b, #940029);
	background-image: -o-linear-gradient(left, #a5052b, #940029, #a5052b, #940029, #a5052b, #940029);
	background-image: linear-gradient(to right, #a5052b, #940029, #a5052b, #940029, #a5052b, #940029);
}

.title-small {
	line-height: 1.6em;
	font-size: 20px;
}

.title-big {
	font-weight: 700;
	line-height: 0.97em;
	font-size: 56px;
	text-transform: uppercase;
}